<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runnershigh.runnershigh.mapper.CrewMapper">
    <insert id="addCrew" useGeneratedKeys="true" keyProperty="crewId">
        INSERT INTO crew_tb
            (crew_id, user_id, crew_name, crew_detail, crew_img_url, crew_region, crew_status, max_members, create_dt, update_dt)
        VALUES
            (0, #{userId}, #{crewName}, #{crewDetail}, #{crewImgUrl}, #{crewRegion}, "ACTIVE", #{maxMembers}, now(), null);
    </insert>
    <select id="getCrewList" resultType="com.runnershigh.runnershigh.dto.crew.GetCrewRespDto">
        SELECT
            ct.*,
            COUNT(cu.user_id) AS currentMembers
        FROM
            crew_tb AS ct
            LEFT JOIN crew_user_tb cu ON ct.crew_id = cu.crew_id
        <where>
            <if test="cursorCrewId != null">
                ct.crew_id &lt; #{cursorCrewId}
            </if>
            <if test="search != null">
                AND (
                crew_name LIKE CONCAT('%', #{search}, '%')
                OR crew_detail LIKE CONCAT('%', #{search}, '%')
                OR crew_region LIKE CONCAT('%', #{search}, '%')
                )
            </if>
            <if test="region != null">
                AND crew_region = #{region}
            </if>
        </where>
        GROUP BY ct.crew_id
        ORDER BY crew_id DESC
        LIMIT #{size};
    </select>
    <select id="getCrewByCrewId" resultType="com.runnershigh.runnershigh.dto.crew.GetCrewRespDto">
        SELECT
            ct.*,
            COUNT(cu.user_id) AS currentMembers
        FROM
            crew_tb AS ct
            LEFT JOIN crew_user_tb cu ON ct.crew_id = cu.crew_id
        WHERE
            ct.crew_id = #{crewId};
    </select>
    <select id="getWeeklyTopCrews" resultType="com.runnershigh.runnershigh.dto.crew.GetCrewRankRespDto">
        SELECT
            ct.*,
            COALESCE(SUM(lt.like_count), 0) AS totalLikes,
            COUNT(cu.user_id) AS currentMembers
        FROM
            crew_tb AS ct
            LEFT JOIN crew_user_tb cu ON ct.crew_id = cu.crew_id
            LEFT JOIN user_tb ut ON cu.user_id = ut.user_id
            LEFT JOIN (
                SELECT
                    user_id,
                    COUNT(*) AS like_count
                FROM
                    like_tb
                WHERE
                    create_dt >= DATE_SUB(NOW(), INTERVAL 7 DAY)
                GROUP BY
                    user_id
            ) AS lt ON(ut.user_id = lt.user_id)
        GROUP BY
            ct.crew_id, ct.crew_name
        ORDER BY
            totalLikes DESC,
            currentMembers DESC
        LIMIT 5;
    </select>
</mapper>