<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runnershigh.runnershigh.mapper.DiaryMapper">
    <insert id="addDiary" useGeneratedKeys="true" keyProperty="diaryId">
        INSERT INTO
            diary_tb (user_id, diary_content, diary_date, create_dt, update_dt)
        VALUES
            (#{userId}, #{diaryContent}, #{diaryDate}, NOW(), NOW())
    </insert>

    <update id="updateDiary">
        UPDATE
            diary_tb
        SET
            diary_content = #{diaryContent},
            update_dt = NOW()
        WHERE
            diary_id = #{diaryId}
    </update>

    <delete id="deleteDiary">
        DELETE FROM
            diary_tb
        WHERE
            diary_id = #{diaryId}
    </delete>

    <select id="getActiveListByUserIdAndDate">
        SELECT
            diary_date
        FROM
            diary_tb
        WHERE
            user_id = #{userId} AND
            diary_date BETWEEN #{startDate} AND #{endDate}
    </select>

    <select id="getDiaryByUserIdAndDate">
        SELECT
            *
        FROM
            diary_tb
        WHERE
            user_id = #{userId}
            AND
            Date(diaryDate) = #{diaryDate}
    </select>
</mapper>