<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runnershigh.runnershigh.mapper.FeedMapper">
    <select id="getWeeklyTopFeeds" resultType="com.runnershigh.runnershigh.dto.feed.GetFeedRespDto">
        SELECT
            f.feed_id,
            f.feed_img_url,
            COUNT(l.like_id) AS likeCount,
            false AS isLikedByUser
        FROM
            feed_tb f
            LEFT JOIN like_tb l ON f.feed_id = l.feed_id
        WHERE
            f.create_dt BETWEEN #{startDate} AND #{endDate}
        GROUP BY
            f.feed_id, f.feed_img_url
        ORDER BY
            likeCount DESC
            LIMIT 8
    </select>

    <select id="getFeedList" resultType="com.runnershigh.runnershigh.dto.feed.GetFeedRespDto">
        SELECT
            f.feed_id,
            f.feed_img_url,
            COUNT(l.like_id) AS likeCount,
            <choose>
                <when test="loginUserId != null">
                    CAST(SUM(CASE WHEN l.user_id = #{loginUserId} THEN 1 ELSE 0 END) AS SIGNED) > 0 AS isLikedByUser
                </when>
                <otherwise>
                    false AS isLikedByUser
                </otherwise>
            </choose>
        FROM
            feed_tb f
            LEFT JOIN like_tb l ON f.feed_id = l.feed_id
        <where>
            <if test="cursorFeedId != null">
                f.feed_id &lt;= #{cursorFeedId}
            </if>
            <if test="targetUserId != null">
                AND f.user_id = #{targetUserId}
            </if>
        </where>
        GROUP BY
            f.feed_id, f.feed_img_url
        ORDER BY
            f.feed_id DESC
        LIMIT #{size}
    </select>

    <select id="getILikedFeedList" resultType="com.runnershigh.runnershigh.dto.feed.GetFeedRespDto">
        SELECT
            f.feed_id,
            f.feed_img_url,
            (SELECT COUNT(*) FROM like_tb WHERE feed_id = f.feed_id) AS likeCount,
            TRUE AS isLikedByUser
        FROM
            feed_tb f
            LEFT JOIN like_tb l ON f.feed_id = l.feed_id
        <where>
            l.user_id = #{userId}
            <if test="cursorFeedId != null">
                AND f.feed_id &lt;= #{cursorFeedId}
            </if>
        </where>
        ORDER BY f.feed_id DESC
        LIMIT #{size}
    </select>

    <select id="getFeedDetailByFeedId" resultType="com.runnershigh.runnershigh.dto.feed.GetFeedDetailRespDto">
        SELECT
            f.feed_id,
            f.user_id,
            f.feed_img_url,
            f.feed_location,
            u.nickname,
            u.profile_img_url,
            COUNT(l.like_id) AS likeCount
            <if test="loginUserId != null">
                , (SELECT COUNT(1)
                FROM like_tb li
                WHERE li.feed_id = f.feed_id
                AND li.user_id = #{loginUserId}) > 0 AS isLikedByUser
            </if>
            <if test="loginUserId == null">
                , false AS isLikedByUser
            </if>
        FROM
            feed_tb f
            LEFT JOIN user_tb u ON f.user_id = u.user_id
            LEFT JOIN like_tb l ON f.feed_id = l.feed_id
        WHERE
            f.feed_id = #{feedId}
        GROUP BY
            f.feed_id, f.user_id, f.feed_img_url, f.feed_location,
            u.nickname, u.profile_img_url
    </select>

    <select id="getFeedMapList" resultType="com.runnershigh.runnershigh.dto.feed.GetFeedMapRespDto">
        SELECT
            feed_id,
            feed_img_url,
            feed_longitude,
            feed_latitude
        FROM
            feed_tb
        WHERE
            create_dt BETWEEN #{startDate} AND #{endDate}
    </select>
    <insert id="addFeed" useGeneratedKeys="true" keyProperty="feedId">
        INSERT INTO feed_tb (
            feed_id,
            user_id,
            feed_img_url,
            feed_location,
            feed_longitude,
            feed_latitude,
            create_dt,
            update_dt
        )
        VALUES (
            0,
            #{userId},
            #{feedImgUrl},
            #{feedLocation},
            #{feedLongitude},
            #{feedLatitude},
            now(),
            now()
        )
    </insert>

    <update id="updateFeed">
        UPDATE
            feed_tb
        SET
            feed_img_url = #{feedImgUrl},
            feed_location = #{feedLocation},
            feed_longitude = #{feedLongitude},
            feed_latitude = #{feedLatitude},
            update_dt = NOW()
        WHERE
            feed_id = #{feedId}
    </update>

    <delete id="deleteFeed">
        DELETE FROM
            feed_tb
        WHERE
            feed_id = #{feedId}
    </delete>
</mapper>
