<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runnershigh.runnershigh.mapper.FeedMapper">


    <!--    쿼리 결과를 DTO 객체로 매핑-->
    <!--    주간 BEST5 게시물-->
    <select id="getWeeklyTopFeeds" resultType="com.runnershigh.runnershigh.dto.feed.GetFeedRespDto">
        SELECT
            f.feed_id,
            f.feed_img_url,
            COUNT(l.like_id) AS likeCount
        FROM feed_tb f
        LEFT JOIN like_tb l ON f.feed_id = l.feed_id
        WHERE
            f.create_dt >= date_add(NOW(), INTERVAL -7 DAY)
        GROUP BY
            f.feed_id, f.feed_img_url
        ORDER BY likeCount DESC
    <!-- 상위 8개만 들고옴 -->
        LIMIT 8
    </select>

    <!-- 피드 전체 목록 반환, 내 피드 목록 반환 동적 쿼리-->
    <select id="getFeedList" resultType="com.runnershigh.runnershigh.dto.feed.GetFeedRespDto">
        SELECT
            f.feed_id,
            f.feed_img_url,
            COUNT(l.like_id) AS likeCount
        FROM
            feed_tb f
            LEFT JOIN like_tb l ON f.feed_id = l.feed_id
        <where>
            <if test="userId != null">
                AND f.user_id = #{userId}
            </if>
        </where>
        GROUP BY f.feed_id, f.feed_img_url
        ORDER BY f.create_dt DESC
        LIMIT #{size} OFFSET #{(page-1) * size}
    </select>

    <!-- 내가 좋아요한 피드 목록 조회 -->
    <select id="getILikedFeedList" resultType="com.runnershigh.runnershigh.dto.feed.GetILikedFeedRespDto">
        SELECT
            f.feed_id,
            f.feed_img_url
        FROM
            feed_tb f
            LEFT JOIN like_tb l ON f.feed_id = l.feed_id
        WHERE
            l.user_id = #{userId}
    </select>

    <!-- 피드 상세 + 작성자 매핑 -->
    <!--  의문점 : getFeed 모달에 왜 페이지네이션 필요한지  -->
    <select id="getFeedDetailByFeedId" resultType="GetFeedDetailRespDto">
        SELECT
            f.feed_id,
            f.user_id,
            f.feed_img_url,
            f.feed_location,
            u.user_id,
            u.nickname,
            u.profile_img_url,
            COUNT(l.like_id) AS likeCount
        FROM
            feed_tb f
            JOIN user_tb u ON f.user_id = u.user_id
            LEFT JOIN like_tb l ON f.feed_id = l.feed_id
        GROUP BY f.feed_id, f.user_id, f.feed_img_url, f.feed_location,
                u.user_id, u.nickname, u.profile_img_url
        ORDER BY f.create_dt DESC;
        LIMIT #{size} OFFSET #{(page-1) * size}
    </select>

    <!--  피드 추가(생성)  -->
    <insert id="addFeed" parameterType="com.runnershigh.runnershigh.entity.Feed" useGeneratedKeys="true" keyProperty="feedId">
        INSERT INTO feed_tb (
            user_id,
            feed_img_url,
            feed_status,
            feed_location,
            feed_longitude,
            feed_latitude,
            create_dt,
            update_dt
            )
        VALUES (
            #{userId},
            #{feedImgUrl},
            #{feedStatus},
            #{feedLocation},
            #{feedLongitude},
            #{feedLatitude},
            now(),
            now()
            )
    </insert>

</mapper>