<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runnershigh.runnershigh.mapper.MessageMapper">
    <insert id="saveMessage" useGeneratedKeys="true" keyProperty="messageId">
        INSERT INTO
            message_tb
        VALUES
            (0, #{crewId}, #{userId}, #{message}, #{messageType}, NOW(), NOW())
    </insert>
    <select id="getMessageList" resultType="com.runnershigh.runnershigh.dto.message.GetMessageRespDto">
        SELECT
            mb.message_id,
            mb.user_id,
            mb.message,
            mb.message_type,
            mb.create_dt,

            ut.nickname,
            ut.profile_img_url
        FROM
            message_tb mb
            INNER JOIN user_tb ut ON (mb.user_id = ut.user_id)
        WHERE
            mb.crew_id = #{crewId}
            AND
        <!-- 해당 유저의 가입일 이후의 메시지만 -->
            mb.create_dt >= (
                SELECT create_dt
                FROM crew_user_tb
                WHERE user_id = #{userId} AND crew_id = #{crewId}
            )
        <!-- cursorMessageId가 존재할 때 -->
        <!-- cursorMessageId가 null이라는 것은 더 이상 불러올 메시지가 없다는 것 -->
        <!-- 서비스 로직에서 확인하세요 -->
        <if test="cursorMessageId != null">
            <!-- 클라이언트가 알고 있는 가장 오래된 메시지ID보다 작은 것들 중에서 -->
            AND mb.message_id <![CDATA[<]]> #{cursorMessageId}
        </if>
        ORDER BY
            <!-- 최신 메시지부터 가져오도록 정렬 -->
            mb.create_dt DESC
        LIMIT #{size}
    </select>

    <select id="getMessageByMessageId" resultType="com.runnershigh.runnershigh.dto.message.GetMessageRespDto">
        SELECT
            mb.message_id,
            mb.user_id,
            mb.message,
            mb.message_type,
            mb.create_dt,

            ut.nickname,
            ut.profile_img_url
        FROM
            message_tb mb
            INNER JOIN user_tb ut ON (mb.user_id = ut.user_id)
        WHERE
            mb.message_id = #{messageId}
    </select>

</mapper>