<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runnershigh.runnershigh.mapper.UserMapper">
    <resultMap id="RoleResultMap" type="com.runnershigh.runnershigh.entity.Role">
        <id property="roleId" column="role_id"/>
        <result property="roleName" column="role_name"/>
        <result property="roleNameKor" column="role_name_kor"/>
    </resultMap>

    <resultMap id="UserRoleResultMap" type="com.runnershigh.runnershigh.entity.UserRole">
        <id property="userRoleId" column="user_role_id" />
        <result property="userId" column="urt_user_id" />
        <result property="roleId" column="urt_role_id" />
        <result property="createDt" column="urt_create_dt" />
        <result property="updateDt" column="urt_update_dt" />
        <association property="role" resultMap="RoleResultMap" />
    </resultMap>

    <resultMap id="UserResultMap" type="com.runnershigh.runnershigh.entity.User">
        <id property="userId" column="user_id" />
        <result property="email" column="email" />
        <result property="password" column="password" />
        <result property="nickname" column="nickname" />
        <result property="profileImgUrl" column="profile_img_url" />
        <result property="createDt" column="create_dt" />
        <result property="updateDt" column="update_dt" />
        <collection property="userRoles" resultMap="UserRoleResultMap" />
    </resultMap>

    <select id="getUserInfo" resultMap="UserResultMap">
        SELECT
            ut.user_id,
            ut.email,
            ut.password,
            ut.nickname,
            ut.profile_img_url,
            ut.create_dt,
            ut.update_dt,

            urt.user_role_id,
            urt.user_id as urt_user_id,
            urt.role_id as urt_role_id,
            urt.create_dt as urt_create_dt,
            urt.update_dt as urt_update_dt,

            rt.role_id,
            rt.role_name,
            rt.role_name_kor
        FROM
            user_tb ut
        LEFT JOIN
            user_role_tb urt ON (ut.user_id = urt.user_id)
        LEFT JOIN
            role_tb rt ON (urt.role_id = rt.role_id)
        <where>
            <if test="userId != null">
                ut.user_id = #{userId}
            </if>
            <if test="email != null and email != ''">
                OR ut.email = #{email}
            </if>
            <if test="nickname != null and nickname != ''">
                OR ut.nickname = #{nickname}
            </if>
        </where>
    </select>

    <select id="getUserProfileById" resultType="com.runnershigh.runnershigh.dto.user.UserProfileDto">
        SELECT
            ut.user_id,
            ct.crew_id,
            ct.crew_name,
            COUNT(DISTINCT ft.feed_id) AS feed_count
        FROM
            user_tb ut
            LEFT JOIN crew_user_tb cut ON (ut.user_id = cut.user_id)
            LEFT JOIN crew_tb ct ON (cut.crew_id = ct.crew_id)
            LEFT JOIN feed_tb ft ON (ut.user_id = ft.user_id)
        WHERE
            ut.user_id = #{userId}
        GROUP BY
            ut.user_id, ct.crew_id, ct.crew_name
    </select>

    <select id="checkUserExist" resultType="int">
        SELECT EXISTS (
            SELECT 1 FROM user_tb
            <where>
                <if test="email != null and email != ''">
                    email = #{email}
                </if>
                <if test="nickname != null and nickname != '' ">
                    OR nickname = #{nickname}
                </if>
            </where>
        )
    </select>

    <insert id="addUser" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO
            user_tb (user_id, email, password, nickname, create_dt)
        VALUES
            (0, #{email}, #{password}, #{nickname}, NOW())
    </insert>

    <update id="updateUser">
        UPDATE
            user_tb
        SET
            nickname = #{nickname},
            profile_img_url = #{profileImgUrl},
            update_dt = NOW()
        WHERE
            user_id = #{userId}
    </update>

    <delete id="deleteUser">
        DELETE FROM
            user_tb
        WHERE
            user_id = #{userId}
    </delete>
</mapper>